.container {
    position: relative;
    padding-left: 28%;
    padding-top: 20%;
    width: 50%;
    height: 400px;
    transform: rotate(-20deg);
}

div.main {
    display: inline-block;
    position: absolute;
    width: 500px;
    height: 300px;
    background-color: #6464ff;
    border-radius: 25px;
}

div.inner {
    display: block;
    position: absolute;
    background-color: #fff;
    width: 400px;
    height: 200px;
    border-radius: 20px;
    margin-left: 50px;
    margin-top: 50px;
}

div.big_circle {
    display: block;
    position: absolute;
    margin-left: 55%;
    margin-top: 3%;
    width: 150px;
    height: 150px;
    background-color: #000;
    border-radius: 150px;
    z-index: 1;
}

p.big_circle_txt {
    display: block;
    margin-bottom: 40px;
    margin-top: 40px;
    color: #fff;
    font-size: 52px;
    z-index: 1;
    margin-left: 37%;
    margin-top: 27%;
}

div.small_circle {
    display: block;
    position: absolute;
    margin-left: 59%;
    margin-top: 17%;
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 150px;
    z-index: 1;
    animation-duration: 0.5s;
    animation-name: example;
}

@keyframes example {
    from {
        background-color: red;
    }
    to {
        background-color: black;
    }
}

p.small_circle_txt {
    display: block;
    margin-bottom: 40px;
    margin-top: 40px;
    color: #fff;
    font-size: 16px;
    z-index: 1;
    margin-left: 25%;
    margin-top: 8%;
}

button {
    margin-top: 14%;
    position: absolute;
    color: #fff;
    width: 100px;
    height: 40px;
    margin-left: 45%;
    margin-bottom: 2%;
    background-color: #a8a8a8;
    z-index: 1;
    transform: rotate(-20deg);
    -webkit-transition: 2s;
    transition: 2s;
}